@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* rwd */
}

body {
	color: #444;
	font-family: Roboto;
	padding: 50px;
	height: 100vh;
}

/* rwd */
@media only screen and (max-width: 600px) {
	#pricing-container {
		display: flex;
		flex: 1;
		flex-direction: column;
	}
}

#pricing-container {
	display: flex;
	flex: 1;
	justify-content: center;
}

.columns {
	margin: 25px;
}

.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
	background-color: #618685;
	color: white;
	font-size: 25px;
  }
  
.price li {
	border-bottom: 0px solid #eee;
	padding: 20px;
	text-align: center;
  }

/* Grey list item */
.price .grey {
	background-color: #eee;
	font-size: 20px;
}

.button {
background-color: #36486b;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

.button:hover {
    background:#173b67;
}
